.App {
  border: 1px solid #a7a6a6;
  background-color: #f9f7fe;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.App h1 {
  text-align: center;
  margin-bottom: 20px;
}
